.app__root {
  padding: 18px 105px;
  min-height: 80vh;
  margin-top: 6%;
}

.food__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 95vh;
}

.btn__wrapper {
  text-align: center;
  margin: 20px 0 30px 0;
}

.app__btn {
  background: var(--primary);
  height: 50px;
  width: 145px;
  border: none;
  color: var(--text-main);
  font-size: 17px;
  font-weight: bold;
  border-radius: 35px;
  text-transform: capitalize;
}

.app__btn:hover {
  cursor: pointer;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .app__root {
    min-height: 100vh;
    padding: 14px 16px;
    margin-top: 22%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
  .app__root {
    min-height: 100vh;
    margin-top: 16%;
    padding: 14px 16px;
  }
}
